<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @patient.street_address %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @patient.insurance.name %>
</p>

<p>
  <Strong>Appointments</Strong>
<table>
  <tr>
    <th>Specialist</th>
    <th>Appointment</th>
    <th>Days Until Appointment</th>
  </tr>
  <% @patient.appointments.each do |app| %>
      <tr>
        <td><%= app.specialist.name %></td>
        <td><%= app.appointment_date %></td>
        <td>><%= app.days_until_appointment %></td>
      </tr>
  <% end %>
</table>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
