<h1>Listing appointments</h1>

<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>Specialist</th>
      <th>Complaint</th>
      <th>Appointment Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.patient.name %></td>
        <td><%= appointment.specialist.name %></td>
        <td><%= appointment.complaint %></td>
        <td><%= appointment.appointment_date %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
